
.detail-box-style{
    text-align: center;
}
.country-detail{
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: .5px solid lightgray;
    width: 340px;
    margin-left: 32rem;
}